{% extends 'jobs/base.html' %}

{% block content %}
 <h2 class="text-center pt-3">Welcome to Ivan's Jobs</h2>
   <br/>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img alt="Card image cap"
                         class="card-img-top" src="{{blog_detail.image.url}}" height='150', width='50'>
                    <div class="card-body">
                        <p class="card-text">{{blog_detail.body}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

